spring:
  application:
    name: CustomerAcctMgt

  datasource:
    url: jdbc:postgresql://localhost:5432/customeracctdb
    username: postgres
    password: database

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

server:
  port: 8080